AIRFLOW_IMAGE_NAME=cp3-airflow:3.3.0
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
POSTGRES_USER=airflow
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=airflow
AIRFLOW_FERNET_KEY=GENERATE_ME
AIRFLOW_SECRET_KEY=GENERATE_ME
AIRFLOW_PARALLELISM=2
AIRFLOW_MAX_ACTIVE_TASKS_PER_DAG=2
AIRFLOW_MAX_ACTIVE_RUNS_PER_DAG=1
AIRFLOW_DAG_PROCESSOR_PARSING_PROCESSES=1
